* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 100px;
  margin-top: 15px;
}

h2 {
  font-size: 40px;
  margin-top: 15px;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.home-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
}

.home-images {
  height: 600px;
  width: 600px;
  border: solid 2px blue;
}

.home-content {
  height: 600px;
  width: 600px;
  border: solid 2px blue;
}

img {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* To fix circles, make the bottom two relative and change their top, left, etc values */
