.navbar-container {
  background: black;
  height: 80px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: gray;
  transition: all 0.2s ease-out;
}

.menu-icon {
  color: white;
  display: none;
}

.sidebar-nav-links {
  text-align: center;
  padding: 2rem;
  display: table;
  width: 100%;
  text-decoration: none;
  color: white;
}

.sidebar-menu-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
}

.sidebar-nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 80px;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
  list-style: none;
}

.sidebar-nav-menu.active {
  background: blueviolet;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  width: 250px;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: black;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    display: table;
    width: 100%;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
}
